*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


body{
    background:url('./bg-img.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
}

.mainbg{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    /* border: 2px solid red; */
    padding: 20px;

}

button{
    background-color: aquamarine;
    padding: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-weight: 400;
}

input{
    width: 25%;
    border: 30%;
}

.blue{
    color:white;
    background-color: rgb(2, 2, 172);
    padding: 20px;
}
.cases{
    flex:1;
    /* border: 5px solid green; */
    /* display: flex;
    flex-direction: column; */
    text-align: center;

}

.case{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
}
